body{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0;
}
.card {
    display: flex;
    width: 800px;
    height: 500px;
    border: 3px solid black;
    align-items: center;
    justify-content: space-around;
}

.contenedor-imagen{
    display: flex;
    width: 350px;
    height: 350px;
    background-color: rgb(42, 116, 165);
    justify-content: center;
    align-items: center;
    border: 2px solid gray;

}

img{
    width: 300px;
    height: 300px;
}
.descripcion{
    border: 2px solid gray;
    width: 345px;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
}

h2{
    text-align: center;
}
p{
    text-align: center;
}